<div class="login-container">
  <h2>Connexion</h2>
  <form (ngSubmit)="onLogin()" #loginForm="ngForm">
    
    <app-input-field
      label="Email"
      type="email"
      id="email"
      name="email"
      [(value)]="email"
    ></app-input-field>

    <app-input-field
      label="Mot de passe"
      type="password"
      id="motdepasse"
      name="motdepasse"
      [(value)]="motdepasse"
    ></app-input-field>

    <app-submit-button label="Se Connecter"></app-submit-button>
  </form>
</div>
