<div class="form-container">
  <h2>Inscription Utilisateur</h2>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <label for="nom">Nom</label>
    <input type="text" id="nom" [(ngModel)]="nom" name="nom" required />

    <label for="prenom">Prénom</label>
    <input
      type="text"
      id="prenom"
      [(ngModel)]="prenom"
      name="prenom"
      required
    />

    <label for="age">Âge</label>
    <input type="number" id="age" [(ngModel)]="age" name="age" required />

    <label for="tlf">Téléphone</label>
    <input type="text" id="tlf" [(ngModel)]="tlf" name="tlf" required />

    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required />

    <label for="motdepasse">Mot de passe</label>
    <input
      type="password"
      id="motdepasse"
      [(ngModel)]="motdepasse"
      name="motdepasse"
      required
    />

    <label for="adresse">Adresse</label>
    <input
      type="text"
      id="adresse"
      [(ngModel)]="adresse"
      name="adresse"
      required
    />

    <label for="codePostale">Code Postal</label>
    <input
      type="text"
      id="codePostale"
      [(ngModel)]="codePostale"
      name="codePostale"
      required
    />

    <label for="zip">Zip</label>
    <input type="text" id="zip" [(ngModel)]="zip" name="zip" required />

    <input type="submit" value="S'inscrire" />
  </form>
</div>
