  <!-- Main Section -->
  <main class="main-section">
    <div class="container text-center">
      <h1 class="fw-bold mb-4 main-title">Bienvenue sur Delivery Manager</h1>
      <p class="lead mb-5 main-subtitle">
        Une plateforme unifiée pour gérer efficacement vos livraisons entre
        clients, commerçants et livreurs.
      </p>
  
      <div class="row justify-content-center mb-0">
        <div class="col-md-3 mb-4" *ngFor="let role of roles">
          <app-role-card
            [title]="role.title"
            [description]="role.description"
            [link]="role.link"
          ></app-role-card>
        </div>
      </div>
    </div>
  
    <div id="feature-card-container" class="row text-center mt-5 d-flex justify-content-center flex-wrap">
        <div class="col-md-3 mb-4" *ngFor="let feature of features">
          <app-feature-card
            [icon]="feature.icon"
            [title]="feature.title"
            [description]="feature.description"
          ></app-feature-card>
        </div>
      </div>
      
  
    <app-testimonial-carousel [testimonials]="homeTestimonials"></app-testimonial-carousel>
  </main>
    
  