.submit-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  input[type="submit"] {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #4f959d;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #205781;
  }
  